.app-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #4980B5;
  z-index: 1030;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .app-header {
    padding-right: 30px;
  }
}
@media print {
  .app-header {
    display: none;
  }
}

.app-header__logo {
  flex: 1 0 auto;
  color: #fff;
  text-align: center;
  font-family: "Niconne";
  padding: 0 15px;
  font-size: 26px;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .app-header__logo {
    flex: 0 0 auto;
    display: block;
    width: 230px;
    background-color: #4273a3;
  }
}
.app-header__logo:focus, .app-header__logo:hover {
  text-decoration: none;
  color: #fff;
}

.app-sidebar__toggle {
  padding: 0 15px;
  font-family: bootstrap-icons !important;
  color: #fff;
  line-height: 2.4;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
@media (max-width: 767px) {
  .app-sidebar__toggle {
    order: -1;
  }
}
.app-sidebar__toggle:before {
  content: "\f479";
  font-size: 21px;
}
.app-sidebar__toggle:focus, .app-sidebar__toggle:hover {
  color: #fff;
  background-color: #3a6691;
  text-decoration: none;
}

.app-nav {
  /* @extend .list-unstyled; */
  display: flex;
  margin-bottom: 0;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .app-nav {
    flex: 1 0 auto;
  }
}

.app-nav__item {
  display: block;
  padding: 15px;
  line-height: 20px;
  color: #fff;
  transition: background-color 0.3s ease;
}
.app-nav__item:hover, .app-nav__item:focus {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}

.app-search {
  position: relative;
  display: flex;
  align-self: center;
  margin-right: 15px;
  padding: 10px 0;
}
@media (max-width: 480px) {
  .app-search {
    display: none;
  }
}

.app-search__input {
  border: 0;
  padding: 5px 10px;
  padding-right: 30px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease;
}
.app-search__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.app-search__button {
  position: absolute;
  right: 0;
  top: 10px;
  bottom: 10px;
  padding: 0 10px;
  border: 0;
  color: rgba(0, 0, 0, 0.8);
  background: none;
  cursor: pointer;
}

.app-notification {
  min-width: 270px;
}

.app-notification__title {
  padding: 8px 20px;
  text-align: center;
  background-color: rgba(73, 128, 181, 0.4);
  color: #333;
}

.app-notification__footer {
  padding: 8px 20px;
  text-align: center;
  background-color: #eee;
}
.app-notification__footer > a {
  text-decoration: none;
}

.app-notification__content {
  max-height: 220px;
  overflow-y: auto;
}
.app-notification__content::-webkit-scrollbar {
  width: 6px;
}
.app-notification__content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.app-notification__item {
  display: flex;
  padding: 8px 20px;
  color: inherit;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.app-notification__item:focus, .app-notification__item:hover {
  color: inherit;
  text-decoration: none;
  background-color: #e0e0e0;
}

.app-notification__message,
.app-notification__meta {
  margin-bottom: 0;
}

.app-notification__icon {
  padding-right: 10px;
}

.app-notification__message {
  line-height: 1.2;
}

/* .app-notification__meta { @extend .text-muted; } */

/*# sourceMappingURL=header.css.map */
